<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile List</title>
  {% load static %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
  <div class="header">
    <span>John Doe, <span class="role">Student</span></span>
    <img src="{% static 'utrgv.svg' %}" alt="UTRGV Logo" class="logo">
  </div>

  <a href="{% url 'landing' 'student' %}" class="back-link">Back to Landing Page</a>

  <h2>Advisors</h2>
  <!-- Wrap the table in a container -->
  <div class="table-container">
    <table class="profile-table">
      <tr>
        <td>
          <div class="profile-card">
            <div class="info">
              <h3><a href="{% url 'advisorProfileView' 'askar_nurbekov' %}">Askar Nurbekov</a></h3>
              <p>Lecturer I</p>
              <h4><a href="mailto:askar.nurbekov01@utrgv.edu">askar.nurbekov01@utrgv.edu</a></h4>
            </div>
            <img src="{% static 'advisorpic.png' %}" alt="nurbekov_profile_image">
          </div>
        </td>
        <td>
          <div class="profile-card">
            <div class="info">
              <h3><a href="{% url 'advisorProfileView' 'askar_nurbekov' %}">Jonatan Reyes</a></h3>
              <p>Assistant Professor of Practice</p>
              <h4><a href="mailto:jonatan.reyes01@utrgv.edu">jonatan.reyes01@utrgv.edu</a></h4>
            </div>
            <img src="{% static 'advisorpic.png' %}" alt="reyes_profile_image">
          </div>
        </td>
        <td>
          <div class="profile-card">
            <div class="info">
              <h3><a href="{% url 'advisorProfileView' 'askar_nurbekov' %}">Erik Enriquez</a></h3>
              <p>Lecturer I</p>
              <h4><a href="mailto:erik.enriquez01@utrgv.edu">erik.enriquez01@utrgv.edu</a></h4>
            </div>
            <img src="{% static 'advisorpic.png' %}" alt="enriquez_profile_image">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="profile-card">
            <div class="info">
              <h3><a href="{% url 'advisorProfileView' 'askar_nurbekov' %}">Askar Nurbekov</a></h3>
              <p>Lecturer I</p>
              <h4><a href="mailto:askar.nurbekov01@utrgv.edu">askar.nurbekov01@utrgv.edu</a></h4>
            </div>
            <img src="{% static 'advisorpic.png' %}" alt="nurbekov_profile_image">
          </div>
        </td>
        <td>
          <div class="profile-card">
            <div class="info">
              <h3><a href="{% url 'advisorProfileView' 'askar_nurbekov' %}">Askar Nurbekov</a></h3>
              <p>Lecturer I</p>
              <h4><a href="mailto:askar.nurbekov01@utrgv.edu">askar.nurbekov01@utrgv.edu</a></h4>
            </div>
            <img src="{% static 'advisorpic.png' %}" alt="nurbekov_profile_image">
          </div>
        </td>
        <td>
          <div class="profile-card">
            <div class="info">
              <h3><a href="{% url 'advisorProfileView' 'askar_nurbekov' %}">Askar Nurbekov</a></h3>
              <p>Lecturer I</p>
              <h4><a href="mailto:askar.nurbekov01@utrgv.edu">askar.nurbekov01@utrgv.edu</a></h4>
            </div>
            <img src="{% static 'advisorpic.png' %}" alt="nurbekov_profile_image">
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>