<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Header:
    - Image:
    - Name:
    - Role:
    - UTRGV LOGO
-->
<div class="container">
    <div class="header">
        <span>John Doe, <span class="role">Student</span></span>
        <img src="utrgv.svg" alt="UTRGV Logo" class="logo">
    </div>
</div>

    <!-- Body:
    - Back Button:
        - Name of previous page:
    -
-->
    <!--right now the list here is simply hard code, but once we start connecting the backend,
        this list will change depending on the role.

        probably something like:
        if role == 'student'
            <a href="% url 'projectProposal' %}"> create project </a> <br>
            <a href="% url 'projectProposal' %}"> create project </a> <br>
            <a href="% url 'projectProposal' %}"> create project </a> <br>
        elif role == 'advisor' %
            <a href="% url 'projectList.myGroups' %}">My Groups</a> <br>
            <a href="% url 'projectList' %}"> View Projects</a> <br>
            <a href="% url 'studentList' %}"> View Students </a> <br>
        else  admin %
            <a href="% url 'projectList' %}"> Projects </a> <br>
            <a href="% url 'projectList' %}"> Students</a> <br>
            <a href="% url 'advisorList' %}"> Advisors </a> <br>
        
-->
    <div class="button-container">
        <a href="{% url 'projectProposal' %}" class="landingbutton">Create Projects</a>
        <a href="{% url 'projectList' %}" class="landingbutton">View Projects</a>
        <a href="{% url 'advisorList' %}" class="landingbutton">Advisors</a>
    </div>

</body>

</html>
