<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <a href="{% url 'landing' 'student' %}"> Back to Landing Page </a> <br>
    <table>
        <tr>
            <th>Star</th>
            <th>Author</th>
            <th>Title</th>
            <th>Skills</th>
            <th>Project Status</th>
            <th>Members</th>
            <th></th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Me</th>
            <th><a href={% url 'projectViewPage' 1 %}> My Project </a> </th>
            <th>Python, Machine Learning, Database...</th>
            <th>Joined</th>
            <th>3/4</th>
            <th>Edit</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Alex Pereira</th>
            <th><a href={% url 'projectViewPage' 1 %}> ByteSync - A Simple File Sy...</a> </th>
            <th>Rust, algorithms, Linux, CLI, Concurre...</th>
            <th>Available</th>
            <th>2/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Pedro Elizondo</th>
            <th><a href={% url 'projectViewPage' 1 %}> AR Woodworking Visualizer </a> </th>
            <th>C++, Augmented Reality, Database, Web...</th>
            <th>Available</th>
            <th>3/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Alex Pereira</th>
            <th><a href={% url 'projectViewPage' 1 %}> ByteSync - A Simple File Sy...</a> </th>
            <th>Rust, algorithms, Linux, CLI, Concurre...</th>
            <th>Available</th>
            <th>2/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Pedro Elizondo</th>
            <th><a href={% url 'projectViewPage' 1 %}> AR Woodworking Visualizer </a> </th>
            <th>C++, Augmented Reality, Database, Web...</th>
            <th>Available</th>
            <th>3/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Alex Pereira</th>
            <th><a href={% url 'projectViewPage' 1 %}> ByteSync - A Simple File Sy...</a> </th>
            <th>Rust, algorithms, Linux, CLI, Concurre...</th>
            <th>Available</th>
            <th>2/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Pedro Elizondo</th>
            <th><a href={% url 'projectViewPage' 1 %}> AR Woodworking Visualizer </a> </th>
            <th>C++, Augmented Reality, Database, Web...</th>
            <th>Available</th>
            <th>3/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Alex Pereira</th>
            <th><a href={% url 'projectViewPage' 1 %}> ByteSync - A Simple File Sy...</a> </th>
            <th>Rust, algorithms, Linux, CLI, Concurre...</th>
            <th>Available</th>
            <th>2/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Pedro Elizondo</th>
            <th><a href={% url 'projectViewPage' 1 %}> AR Woodworking Visualizer </a> </th>
            <th>C++, Augmented Reality, Database, Web...</th>
            <th>Available</th>
            <th>3/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Alex Pereira</th>
            <th><a href={% url 'projectViewPage' 1 %}> ByteSync - A Simple File Sy...</a> </th>
            <th>Rust, algorithms, Linux, CLI, Concurre...</th>
            <th>Available</th>
            <th>2/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Pedro Elizondo</th>
            <th><a href={% url 'projectViewPage' 1 %}> AR Woodworking Visualizer </a> </th>
            <th>C++, Augmented Reality, Database, Web...</th>
            <th>Available</th>
            <th>3/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Alex Pereira</th>
            <th><a href={% url 'projectViewPage' 1 %}> ByteSync - A Simple File Sy...</a> </th>
            <th>Rust, algorithms, Linux, CLI, Concurre...</th>
            <th>Available</th>
            <th>2/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Pedro Elizondo</th>
            <th><a href={% url 'projectViewPage' 1 %}> AR Woodworking Visualizer </a> </th>
            <th>C++, Augmented Reality, Database, Web...</th>
            <th>Available</th>
            <th>3/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Alex Pereira</th>
            <th><a href={% url 'projectViewPage' 1 %}> ByteSync - A Simple File Sy...</a> </th>
            <th>Rust, algorithms, Linux, CLI, Concurre...</th>
            <th>Available</th>
            <th>2/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Pedro Elizondo</th>
            <th><a href={% url 'projectViewPage' 1 %}> AR Woodworking Visualizer </a> </th>
            <th>C++, Augmented Reality, Database, Web...</th>
            <th>Available</th>
            <th>3/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Alex Pereira</th>
            <th><a href={% url 'projectViewPage' 1 %}> ByteSync - A Simple File Sy...</a> </th>
            <th>Rust, algorithms, Linux, CLI, Concurre...</th>
            <th>Available</th>
            <th>2/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Pedro Elizondo</th>
            <th><a href={% url 'projectViewPage' 1 %}> AR Woodworking Visualizer </a> </th>
            <th>C++, Augmented Reality, Database, Web...</th>
            <th>Available</th>
            <th>3/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Alex Pereira</th>
            <th><a href={% url 'projectViewPage' 1 %}> ByteSync - A Simple File Sy...</a> </th>
            <th>Rust, algorithms, Linux, CLI, Concurre...</th>
            <th>Available</th>
            <th>2/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Pedro Elizondo</th>
            <th><a href={% url 'projectViewPage' 1 %}> AR Woodworking Visualizer </a> </th>
            <th>C++, Augmented Reality, Database, Web...</th>
            <th>Available</th>
            <th>3/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Alex Pereira</th>
            <th><a href={% url 'projectViewPage' 1 %}> ByteSync - A Simple File Sy...</a> </th>
            <th>Rust, algorithms, Linux, CLI, Concurre...</th>
            <th>Available</th>
            <th>2/4</th>
            <th>Join</th>
        </tr>
        <tr>
            <th><input type="checkbox" </input></th>
            <th>Pedro Elizondo</th>
            <th><a href={% url 'projectViewPage' 1 %}> AR Woodworking Visualizer </a> </th>
            <th>C++, Augmented Reality, Database, Web...</th>
            <th>Available</th>
            <th>3/4</th>
            <th>Join</th>
        </tr>
    </table>
</body>

</html>
