<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Details</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="user-info">
            <span class="name">John Doe, <span class="role">Student</span></span>
            <img src="{% static 'images/utrgv_logo.png' %}" alt="UTRGV Logo">
        </div>
    </header>

    <a href="{% url 'projectList' %}" class="back-link">← Project List</a>

    <input type="text" class="title-input" value="Project Title">

    <input type="text" class="description-input" value="Description">

    <label for="skills">Skills needed:</label>
    <input type="text" class="skills-input" value="">

    <main class="project-container">

        <div class="form-group">
            <label for="members">Members:</label>
            <select id="members">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4" selected>Max Members</option>
            </select>
        </div>
    </main>

    <button class="submit-button">Submit</button>
</body>

</html>
